<h1>About Me</h1>
<p>Thanks for stopping by! This is where I post about skincare, makeup, travel, and any other stuff that takes my fancy. I'm 27, originally from Australia, but have lived in Berlin, Germany for the last 4 years.</p>
<p>My skin is pale - I wear 1.1N in The Ordinary's Serum Foundation (I've never found a MAC shade to suit me! N1 in Face & Body is too dark and orange, if that helps) - and dehydrated normal/combination, meaning it's normal with drier cheeks and forehead in winter, and normal with oilier nose and chin in summer. It's not sensitive and not acne-prone. My focus areas are blackheads/sebaceous filaments on my nose, and fine lines.</p>
