<h1>Current Routine</h1>
<h2>Winter 2018</h2>
<div class="routine">
  <h3>Morning</h3>
  <ol>
    <li>
      <b>Cleanse: </b><a href="https://sukinnaturals.com/collections/cleanse-exfoliate/products/rosehip-nourishing-cream-cleanser">Sukin Rosehip Nourishing Cream Cleanser</a>
    </li>
    <li>
      <b>Exfoliate: </b><a href="https://www.paulaschoice.co.uk/skin-perfecting-bha-liquid-exfoliant-m2010.html" target="_blank">Paula's Choice Skin Perfecting 2% BHA Liquid Exfoliant</a> 3-4x/week
    </li>
    <li>
      <b>Mist:</b> <a href="http://bentoncosmetics.com/product/benton-tea-tree-mist-80ml/110/?cate_no=94&amp;display_group=1">Benton Cosmetics Tea Tree Mist</a>
    </li>
    <li>
      <b>Hydrating Toner:</b> <a href="http://jolse.com/product/giibon-care-skin-essence-120ml/15694/?cate_no=836&amp;display_group=1">Giibon Skin Care Essence</a>
    </li>
    <li>
      <b>Oil:</b> <a href="https://www.thejojobacompany.com.au/collections/pure-jojoba/products/100-natural-australian-jojoba?variant=36817946962">The Jojoba Company Pure Jojoba Oil</a>
    </li>
    <li>
      <b>Eye Cream: </b><a href="https://instytutum.com/product/eye-cream">Instytutum Truly-Transforming Brightening Eye Cream</a>
    </li>
    <li>
      <b>Moisturiser:</b> <a href="http://jolse.com/product/haruharu-wonder-honey-green-repairative-cream-88g/15271/?cate_no=528&amp;display_group=1">Haruharu Wonder Honey Green Repairative Cream</a>
    </li>
    <li>
      <b>Sunscreen: </b>Bioré Aqua Rich UV Watery Essence (2015 version - last tube)
    </li>
</ol>
<h3>Evening</h3>
<ol>
  <li>
    <b>First Cleanse:</b> <a href="https://www.thebodyshop.com/de-de/gesicht/gesichtsreiniger-und-wasser/camomile-oelhaltiger-make-up-entferner/p/p000934">The Body Shop Camomile Silky Cleansing Oil</a>
  </li>
  <li><b>Second Cleanse:</b> <a href="https://sukinnaturals.com/collections/cleanse-exfoliate/products/rosehip-nourishing-cream-cleanser">Sukin Rosehip Nourishing Cream Cleanser</a>
  </li>
  <li>
    <b>Mist:</b> <a href="http://bentoncosmetics.com/product/benton-tea-tree-mist-80ml/110/?cate_no=94&amp;display_group=1">Benton Cosmetics Tea Tree Mist</a>
  </li>
  <li>
    <b>Hydrating Toner:</b> <a href="http://jolse.com/product/giibon-care-skin-essence-120ml/15694/?cate_no=836&amp;display_group=1">Giibon Skin Care Essence</a> &amp; <a href="https://www.amazon.com/Hadalabo-Skin-Institute-hyaluronic-solution/dp/B013HHJV0C">Hada Labo Gokujyun Premium Lotion</a>
  </li>
  <li>
    <b>Soothing Essence:</b> <a href="http://jolse.com/product/cosrx-advanced-snail-96-mucin-power-essence-100ml/3368/?cate_no=372&amp;display_group=1">COSRX Advanced Snail 96 Mucin Power Essence</a>
  </li>
  <li>
    <b>Oil: </b><a href="https://www.thejojobacompany.com.au/collections/pure-jojoba/products/100-natural-australian-jojoba?variant=36817946962">The Jojoba Company Pure Jojoba Oil</a>
  </li>
  <li>
    <b>*Sheet Mask:</b> Optional
  </li>
  <li>
    <b>Eye Cream:</b> <a href="https://instytutum.com/product/eye-cream">Instytutum Truly-Transforming Brightening Eye Cream</a>
  </li>
  <li>
    <b>Moisturiser: </b>
      <ul>
        <li><a href="http://jolse.com/product/haruharu-wonder-honey-green-repairative-cream-88g/15271/?cate_no=528&amp;display_group=1">Haruharu Wonder Honey Green Repairative Cream</a> or
        </li>
        <li><a href="https://alpha-h.com/product/beauty-sleep-power-peel/">Alpha-H Beauty Sleep Power Peel</a> 2x/week
        </li>
      </ul>
    </li>
  </ol>
</div>
<div class="disclaimer">
  <p>*Not necessarily used every day</p>
  <p>External links provided so you can read more about the product - they're not affiliate links.</p>
  <p>Updated: November 6 2018</p>
</div>
